body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 10px;
    background-color: #f5f7fa;
    font-family: sans-serif;
}

.container{
    text-align: center;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    max-width: 400px;
    width: 100%;
}

button,select,input{
    width: 100%;
    max-width: 10px;
    padding: 10px;
    font-size: 16px;
}

/*
body{
    margin: 0;
    padding: 10px;
}